<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.subject.mapper.SubjectTagKnowledgePointsIdMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.subject.entity.SubjectTagKnowledgePointsId">

        <!--@Table subject_tag_knowledge_points_id-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="SUBJECT_TAG_ID" jdbcType="BIGINT" property="subjectTagId"/>
        <result column="SUBJECT_KNOWLEDGE_POINTS_ID" jdbcType="BIGINT" property="subjectKnowledgePointsId"/>
    </resultMap>
    <sql id="Base_Column_List">

        ID, SUBJECT_TAG_ID, SUBJECT_KNOWLEDGE_POINTS_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from subject_tag_knowledge_points_id
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

        delete from subject_tag_knowledge_points_id
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id"
            parameterType="com.rymcu.subject.entity.SubjectTagKnowledgePointsId" useGeneratedKeys="true">

        insert into subject_tag_knowledge_points_id (SUBJECT_TAG_ID, SUBJECT_KNOWLEDGE_POINTS_ID
        )
        values (#{subjectTagId,jdbcType=BIGINT}, #{subjectKnowledgePointsId,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id"
            parameterType="com.rymcu.subject.entity.SubjectTagKnowledgePointsId" useGeneratedKeys="true">

        insert into subject_tag_knowledge_points_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectTagId != null">
                SUBJECT_TAG_ID,
            </if>
            <if test="subjectKnowledgePointsId != null">
                SUBJECT_KNOWLEDGE_POINTS_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectTagId != null">
                #{subjectTagId,jdbcType=BIGINT},
            </if>
            <if test="subjectKnowledgePointsId != null">
                #{subjectKnowledgePointsId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rymcu.subject.entity.SubjectTagKnowledgePointsId">

        update subject_tag_knowledge_points_id
        <set>
            <if test="subjectTagId != null">
                SUBJECT_TAG_ID = #{subjectTagId,jdbcType=BIGINT},
            </if>
            <if test="subjectKnowledgePointsId != null">
                SUBJECT_KNOWLEDGE_POINTS_ID = #{subjectKnowledgePointsId,jdbcType=BIGINT},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rymcu.subject.entity.SubjectTagKnowledgePointsId">

        update subject_tag_knowledge_points_id
        set SUBJECT_TAG_ID = #{subjectTagId,jdbcType=BIGINT},
        SUBJECT_KNOWLEDGE_POINTS_ID = #{subjectKnowledgePointsId,jdbcType=BIGINT}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>
