<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.subject.mapper.SubjectImportantRelationMapper">
  <resultMap id="BaseResultMap" type="com.rymcu.subject.domain.SubjectImportantRelation">
    <!--@mbg.generated-->
    <!--@Table rymcu_subject.subject_important_relation-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SUBJECT_QUESTION_ID" jdbcType="BIGINT" property="subjectQuestionId" />
    <result column="SUBJECT_KNOWLEDGE_POINTS_ID" jdbcType="BIGINT" property="subjectKnowledgePointsId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, SUBJECT_QUESTION_ID, SUBJECT_KNOWLEDGE_POINTS_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rymcu_subject.subject_important_relation
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from rymcu_subject.subject_important_relation
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.rymcu.subject.domain.SubjectImportantRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rymcu_subject.subject_important_relation (SUBJECT_QUESTION_ID, SUBJECT_KNOWLEDGE_POINTS_ID
      )
    values (#{subjectQuestionId,jdbcType=BIGINT}, #{subjectKnowledgePointsId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.rymcu.subject.domain.SubjectImportantRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rymcu_subject.subject_important_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectQuestionId != null">
        SUBJECT_QUESTION_ID,
      </if>
      <if test="subjectKnowledgePointsId != null">
        SUBJECT_KNOWLEDGE_POINTS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectQuestionId != null">
        #{subjectQuestionId,jdbcType=BIGINT},
      </if>
      <if test="subjectKnowledgePointsId != null">
        #{subjectKnowledgePointsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rymcu.subject.domain.SubjectImportantRelation">
    <!--@mbg.generated-->
    update rymcu_subject.subject_important_relation
    <set>
      <if test="subjectQuestionId != null">
        SUBJECT_QUESTION_ID = #{subjectQuestionId,jdbcType=BIGINT},
      </if>
      <if test="subjectKnowledgePointsId != null">
        SUBJECT_KNOWLEDGE_POINTS_ID = #{subjectKnowledgePointsId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rymcu.subject.domain.SubjectImportantRelation">
    <!--@mbg.generated-->
    update rymcu_subject.subject_important_relation
    set SUBJECT_QUESTION_ID = #{subjectQuestionId,jdbcType=BIGINT},
      SUBJECT_KNOWLEDGE_POINTS_ID = #{subjectKnowledgePointsId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>