<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.subject.mapper.SubjectKnowledgePointsMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.subject.entity.SubjectKnowledgePoints">

        <!--@Table subject_important_points-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="SRC_TYPE" jdbcType="INTEGER" property="srcType"/>
        <result column="FlAG" jdbcType="CHAR" property="flag"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>
    <sql id="Base_Column_List">

        ID, CONTENT, TITLE, SRC_TYPE, FlAG, CREATED_BY, CREATED_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from subject_important_points
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

        delete from subject_important_points
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.rymcu.subject.entity.SubjectKnowledgePoints"
            useGeneratedKeys="true">

        insert into subject_important_points (CONTENT, TITLE, SRC_TYPE,
        FlAG, CREATED_BY, CREATED_TIME
        )
        values (#{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{srcType,jdbcType=INTEGER},
        #{flag,jdbcType=CHAR}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id"
            parameterType="com.rymcu.subject.entity.SubjectKnowledgePoints" useGeneratedKeys="true">

        insert into subject_important_points
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">
                CONTENT,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="srcType != null">
                SRC_TYPE,
            </if>
            <if test="flag != null">
                FlAG,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="srcType != null">
                #{srcType,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=CHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rymcu.subject.entity.SubjectKnowledgePoints">

        update subject_important_points
        <set>
            <if test="content != null">
                CONTENT = #{content,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="srcType != null">
                SRC_TYPE = #{srcType,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                FlAG = #{flag,jdbcType=CHAR},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rymcu.subject.entity.SubjectKnowledgePoints">

        update subject_important_points
        set CONTENT = #{content,jdbcType=VARCHAR},
        TITLE = #{title,jdbcType=VARCHAR},
        SRC_TYPE = #{srcType,jdbcType=INTEGER},
        FlAG = #{flag,jdbcType=CHAR},
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>
