<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.subject.mapper.SubjectAnswerRecordMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.subject.entity.SubjectAnswerRecord">

        <!--@Table subject_answer_record-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="SUBJECT_QUESTION_ID" jdbcType="BIGINT" property="subjectQuestionId"/>
        <result column="ANSWER" jdbcType="VARCHAR" property="answer"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">

        ID, SUBJECT_QUESTION_ID, ANSWER, CREATED_TIME, CREATED_BY
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from subject_answer_record
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="getTodayAnswerRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from subject_answer_record
        where CREATED_BY = #{userId,jdbcType=BIGINT}
        AND EVERYDAY_FLAG =#{everydayFlag,jdbcType=BOOLEAN}
        AND DATE_FORMAT(CREATED_TIME,"%Y%m%d") = DATE_FORMAT(#{now,jdbcType=TIMESTAMP},"%Y%m%d")
        ORDER BY SUBJECT_QUESTION_ID,CREATED_TIME

    </select>

    <select id="getAnswerRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from subject_answer_record
        where CREATED_BY = #{userId,jdbcType=BIGINT}
        AND DATE_FORMAT(CREATED_TIME,"%Y%m%d") = DATE_FORMAT(#{now,jdbcType=TIMESTAMP},"%Y%m%d")
        ORDER BY SUBJECT_QUESTION_ID,CREATED_TIME

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

        delete from subject_answer_record
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.rymcu.subject.entity.SubjectAnswerRecord"
            useGeneratedKeys="true">

        insert into subject_answer_record (SUBJECT_QUESTION_ID, ANSWER, CREATED_TIME,
        CREATED_BY)
        values (#{subjectQuestionId,jdbcType=BIGINT}, #{answer,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
        #{userId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" useGeneratedKeys="true">

        insert into subject_answer_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectQuestionId != null">
                SUBJECT_QUESTION_ID,
            </if>
            <if test="answer != null">
                ANSWER,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="userId != null">
                CREATED_BY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectQuestionId != null">
                #{subjectQuestionId,jdbcType=BIGINT},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertEveryDayAnswer" keyColumn="ID" keyProperty="id"
        parameterType="com.rymcu.subject.entity.SubjectAnswerRecord" useGeneratedKeys="true">
        insert into subject_answer_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectQuestionId != null">
                SUBJECT_QUESTION_ID,
            </if>
            <if test="answer != null">
                ANSWER,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="userId != null">
                CREATED_BY,
            </if>
            <if test="1 == 1">
                EVERYDAY_FLAG,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectQuestionId != null">
                #{subjectQuestionId,jdbcType=BIGINT},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="1 == 1">
                1,
            </if>
        </trim>

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rymcu.subject.entity.SubjectAnswerRecord">

        update subject_answer_record
        <set>
            <if test="subjectQuestionId != null">
                SUBJECT_QUESTION_ID = #{subjectQuestionId,jdbcType=BIGINT},
            </if>
            <if test="answer != null">
                ANSWER = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                CREATED_BY = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rymcu.subject.entity.SubjectAnswerRecord">

        update subject_answer_record
        set SUBJECT_QUESTION_ID = #{subjectQuestionId,jdbcType=BIGINT},
        ANSWER = #{answer,jdbcType=VARCHAR},
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
        CREATED_BY = #{userId,jdbcType=BIGINT}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>
