<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rymcu.subject.mapper.SubjectQuestionMapper">
    <resultMap id="BaseResultMap" type="com.rymcu.subject.dto.SubjectQuestionDTO">

        <!--@Table subject_question-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="QUESTION_TYPE" jdbcType="INTEGER" property="questionType"/>
        <result column="QUESTION_LEVEL" jdbcType="INTEGER" property="questionLevel"/>
        <result column="SRC_TYPE" jdbcType="VARCHAR" property="srcType"/>
        <result column="QUESTION_CONTENT" jdbcType="VARCHAR" property="questionContent"/>
    </resultMap>
    <resultMap id="QuestionMap" type="com.rymcu.subject.entity.Question">

        <!--@Table subject_question-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_type" jdbcType="INTEGER" property="questionType"/>
        <result column="question_level" jdbcType="INTEGER" property="questionLevel"/>
        <result column="src_type" jdbcType="VARCHAR" property="srcType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="question_content" jdbcType="VARCHAR" property="questionContent"/>
        <result column="error_flag" jdbcType="BOOLEAN" property="errorFlag"/>
        <result column="show_flag" jdbcType="BOOLEAN" property="showFlag"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <collection property="options" ofType="com.rymcu.subject.entity.SubjectOption" column="ID">
            <id column="so_id" jdbcType="INTEGER" property="id"/>
            <result column="ID" jdbcType="INTEGER" property="subjectQuestionId"/>
            <result column="option_name" jdbcType="VARCHAR" property="optionName"/>
            <result column="option_content" jdbcType="VARCHAR" property="optionContent"/>
        </collection>
    </resultMap>

    <resultMap id="QuestionList" type="com.rymcu.subject.entity.Question">

        <!--@Table subject_question-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="QUESTION_TYPE" jdbcType="INTEGER" property="questionType"/>
        <result column="QUESTION_LEVEL" jdbcType="INTEGER" property="questionLevel"/>
        <result column="SRC_TYPE" jdbcType="VARCHAR" property="srcType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="error_flag" jdbcType="BOOLEAN" property="errorFlag"/>
        <result column="show_flag" jdbcType="BOOLEAN" property="showFlag"/>
    </resultMap>

    <resultMap id="QuestionAnswer" type="com.rymcu.subject.entity.QuestionAnswer">

        <!--@Table subject_question-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
    </resultMap>

    <sql id="query_sql">
        where 1= 1
        <if test="id != null and id != '' ">
            and id = #{id}
        </if>

        <if test="questionType != null and questionType != '' ">
            and question_type = #{questionType}
        </if>

        <if test="remark != null and remark != '' ">
            and remark like CONCAT('%',#{remark},'%')
        </if>

        <if test="questionLevel != null and questionLevel != '' ">
            and question_level = #{questionLevel}
        </if>

        <if test="errorFlag != null ">
            and error_flag = #{errorFlag}
        </if>

        <if test="showFlag != null ">
            and show_flag = #{showFlag}
        </if>
        <if test="srcType != null and srcType != '' ">
            and src_type = #{srcType}
        </if>
    </sql>

    <sql id="query_question_sql">
        SELECT sq.id,
               question_type,
               question_level,
               question_content,
               src_type,
               remark,
               error_flag,
               show_flag,
               answer,
               so.id so_id,
               so.option_name,
               so.option_content,
        FRom subject_question sq
                 INNER JOIN subject_option so on sq.id = so.subject_question_id
    </sql>
    <sql id="Base_Column_List">
        ID
        , QUESTION_TYPE, QUESTION_LEVEL, SRC_TYPE, QUESTION_CONTENT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from subject_question
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from subject_question
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.rymcu.subject.entity.SubjectQuestion"
            useGeneratedKeys="true">

        insert into subject_question (QUESTION_TYPE, QUESTION_LEVEL, REMARK,
                                      QUESTION_URL, QUESTION_URL_REMARK, SRC_TYPE,
                                      CREATED_BY, CREATED_TIME, UPDATED_BY,
                                      UPDATED_TIME, QUESTION_CONTENT, ANSWER)
        values (#{questionType,jdbcType=INTEGER}, #{questionLevel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
                #{questionUrl,jdbcType=VARCHAR}, #{questionUrlRemark,jdbcType=VARCHAR}, #{srcType,jdbcType=VARCHAR},
                #{userId,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
                #{updatedTime,jdbcType=TIMESTAMP}, #{questionContent,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id"
            parameterType="com.rymcu.subject.entity.SubjectQuestion" useGeneratedKeys="true">
        insert into subject_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionType != null">
                QUESTION_TYPE,
            </if>
            <if test="questionLevel != null">
                QUESTION_LEVEL,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="questionUrl != null">
                QUESTION_URL,
            </if>
            <if test="questionUrlRemark != null">
                QUESTION_URL_REMARK,
            </if>
            <if test="srcType != null">
                SRC_TYPE,
            </if>
            <if test="userId != null">
                CREATED_BY,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME,
            </if>
            <if test="questionContent != null">
                QUESTION_CONTENT,
            </if>
            <if test="errorFlag != null ">
                ERR_FLAG,
            </if>

            <if test="showFlag != null ">
                SHOW_FLAG,
            </if>
            <if test="answer != null ">
                answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionType != null">
                #{questionType,jdbcType=INTEGER},
            </if>
            <if test="questionLevel != null">
                #{questionLevel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="questionUrl != null">
                #{questionUrl,jdbcType=VARCHAR},
            </if>
            <if test="questionUrlRemark != null">
                #{questionUrlRemark,jdbcType=VARCHAR},
            </if>
            <if test="srcType != null">
                #{srcType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionContent != null">
                #{questionContent},
            </if>
            <if test="errorFlag != null ">
                #{errorFlag},
            </if>

            <if test="showFlag != null ">
                #{showFlag},
            </if>
            <if test="answer != null ">
                #{answer},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rymcu.subject.entity.SubjectQuestion">

        update subject_question
        <set>
            <if test="questionType != null">
                QUESTION_TYPE = #{questionType,jdbcType=INTEGER},
            </if>
            <if test="questionLevel != null">
                QUESTION_LEVEL = #{questionLevel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="questionUrl != null">
                QUESTION_URL = #{questionUrl,jdbcType=VARCHAR},
            </if>
            <if test="questionUrlRemark != null">
                QUESTION_URL_REMARK = #{questionUrlRemark,jdbcType=VARCHAR},
            </if>
            <if test="srcType != null">
                SRC_TYPE = #{srcType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                CREATED_BY = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionContent != null">
                QUESTION_CONTENT = #{questionContent,jdbcType=VARCHAR},
            </if>
            <if test="errorFlag != null ">
                ERROR_FLAG = #{errorFlag},
            </if>

            <if test="showFlag != null ">
                SHOW_FLAG = #{showFlag},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rymcu.subject.entity.SubjectQuestion">

        update subject_question
        set QUESTION_TYPE       = #{questionType,jdbcType=INTEGER},
            QUESTION_LEVEL      = #{questionLevel,jdbcType=INTEGER},
            REMARK              = #{remark,jdbcType=VARCHAR},
            QUESTION_URL        = #{questionUrl,jdbcType=VARCHAR},
            QUESTION_URL_REMARK = #{questionUrlRemark,jdbcType=VARCHAR},
            SRC_TYPE            = #{srcType,jdbcType=VARCHAR},
            CREATED_BY          = #{userId,jdbcType=BIGINT},
            CREATED_TIME        = #{createdTime,jdbcType=TIMESTAMP},
            UPDATED_BY          = #{updatedBy,jdbcType=BIGINT},
            UPDATED_TIME        = #{updatedTime,jdbcType=TIMESTAMP},
            QUESTION_CONTENT    = #{questionContent,jdbcType=VARCHAR},
            ANSWER              = #{answer,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="existsBySqId" resultType="boolean">
        SELECT count(*)
        from subject_question
        where id = #{id}
          AND show_flag = 1
    </select>

    <select id="getShowCount" resultType="long">
        SELECT COUNT(*)
        FROM subject_question where show_flag = 1
    </select>

    <select id="getAllCount" resultType="long">
        SELECT COUNT(*)
        FROM subject_question
    </select>

    <select id="getSqIdByNextOrder" resultType="long">
        SELECT ID
        FROM subject_question
        WHERE show_flag = 1 LIMIT #{nextOrder}
            , 1
    </select>


    <select id="isRepeatBySqIdAndUserId" resultType="boolean">
        SELECT CASE
                   WHEN
                           (
                               SELECT COUNT(*)
                               FROM subject_answer_record
                               WHERE subject_question_id = #{sqId}
                                 AND CREATED_BY = #{userId}
                           ) = (
                               SELECT max(t.count_record)
                               from (
                                        SELECT COUNT(1) count_record
                                        FROM subject_answer_record
                                        WHERE created_by = #{userId}
                                        GROUP BY subject_question_id
                                    ) t
                           )
                       THEN 1
                   ELSE 0 END
        FROM DUAL
    </select>

    <select id="selectBySqId" resultMap="QuestionMap">
        <include refid="query_question_sql"></include>
        WHERE sq.id = #{sqId}

    </select>
    <select id="countList" parameterType="com.rymcu.subject.entity.QuestionBase" resultType="java.lang.Integer">
        select count(ID) FROM subject_question
        <include refid="query_sql"></include>
    </select>
    <select id="listBySqId" parameterType="com.rymcu.subject.entity.QuestionBase" resultMap="QuestionMap">
        <include refid="query_question_sql"></include>
        <where>
            sq.id
            IN
            <foreach collection="sqIdList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
        ORDER BY sq.id,so.id
    </select>
    <select id="sqIdList" resultType="java.lang.Integer">
        select ID FROM subject_question
        <include refid="query_sql"></include>
    </select>

    <select id="getQuestionAnswer" resultMap="QuestionAnswer">
        select ID, ANSWER FROM subject_question where id = #{sqId}
    </select>

</mapper>
